In [10]:
a  = 10.2 + 2j # 10.2 + 0j ==> 10.2 - 0j

In [66]:
a

[1, 1, 1, 1, 2, 2, 2, 2, 3, 4, 5, 7, 8, 10]

In [27]:
a[7:] = [1, 1, 1]  #We are extending the list with [1, 1, 1]

In [38]:
index = [i for i, val in enumerate(a) if val == 1]

In [47]:
for i, val in enumerate(a):
    print(f'index : {i} and value : {val}')

index : 0 and value : 1
index : 1 and value : 10
index : 2 and value : 2
index : 3 and value : 3
index : 4 and value : 4
index : 5 and value : 5
index : 6 and value : 7
index : 7 and value : 8
index : 8 and value : 1
index : 9 and value : 1
index : 10 and value : 1
index : 11 and value : 2
index : 12 and value : 2
index : 13 and value : 2

In [68]:
a = tuple(a)       # Type casting

(1, 1, 1, 1, 2, 2, 2, 2, 3, 4, 5, 7, 8, 10)

In [83]:
st = 'TELEMATICS\nclass'        #Strings are immutable

In [111]:
'a'.center(10, ' ')

'    a     '

In [20]:
file = '\ttelematics.csv'

In [18]:
if file.endswith('pdf'):    # Execute only if returns True
    print(file)

In [22]:
file.expandtabs()    # \t  ===> '      '

'        telematics.csv'

In [30]:
'A'.isalnum() #### a-z 0-9

True

In [39]:
st + '2018'     #String Concatenation

'TELEMATICS class2018'

In [52]:
'a'.ljust(20)     # 'a' ====> 'a     '

'a                   '

In [61]:
st.lstrip('T')  #TELEMATICS class

'ELEMATICS class'

In [68]:
st.partition('A')   # '####' 'A' + '#####'

('TELEM', 'A', 'TICS class')

In [77]:
st.rpartition('B')

('', '', 'TELEMATICS class')

In [78]:
st.partition('B')

('TELEMATICS class', '', '')

In [81]:
st.rsplit(' ')   ##  'A, B' ===> ['A',  'B']

['TELEMATICS', 'class']

In [121]:
d = {'a' : 'b',    # key : value
     'b' : 'c',
     'c' : 'd'}

In [136]:
d.values()

dict_values(['97', 'c', 'd', 'e'])